@model Bahadır_webForm.Models.Admin

<!-- Bu sayfa adminlerin gerekli durumlarda şifrelerini değiştirebilecekleri kullanıcı arayüzünü içermektedir -->
<!-- Bu sayfada asp.net form kullanılmıştır -->
<!-- Sweet alert kullanılmıştır -->
@{
    ViewData["Title"] = "ChangePassword";
    string status = ViewBag.Status.ToString();
}

<script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>

<div class="row">
    <div class="aloo">
        <h1>Şifre Değiştirme</h1>
        <hr />
        <form id="changePasswordForm" asp-action="ChangePassword" method="post" asp-controller="Form"  autocomplete="off" onsubmit="return submitEvent()">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label class="textLine">Adınız: </label>
                <input asp-for=Name type="text" id="name" maxlength="16" onpaste="return false" class="Area" required/>
            </div>
            <br />
            <div class="form-group">
                <label class="textLine">Yeni şifre:</label>
                <input asp-for="Password" type="password" id="passwordId"  onpaste="return false" class="Area"  required/>
            </div>
            <br />
            <div>
                <label class="textLine">Şifre Tekrar:</label>
                <input asp-for="Compare" type="password" id="confirmPasswordId"  onpaste="return false" class="Area"  required/>
            </div>
            <br />
            <div class="form-group">
                <input type="submit" value="Değiştir" class="btn btn-primary" style="margin-left:10%;"/>
                <a href="@Url.Action("Login", "Form")" class="btn btn-danger" style="float:right; margin-right:10%;">Geri Dön</a>
            </div>
        </form>
    </div>
</div>

<!-- Bu kısımda kullanıcıya error mesajı gösterilmesi hedeflenmiştir, ilk giriş anında bir mesaj paylaşılmaması gerekmektedir 
    Bundan dolayı ViewBag'teki "Status" değeri kontrol edilmektedir, eğer status değeri "True" ise bu demektir ki kullanıcı şifresini
    değiştirmeye çalışırken bir hatadan dolayı bu sayfaya tekrar yönlendirilmiştir. Statusun c# kısmında string olarak alınmasının sebebi
    karşılaşılan hatalardır
-->

@section Scripts{
    <script>
        window.onload = (event) => {
        if ('@status' == 'True') {
            Swal.fire({
                position: 'center',
                icon: 'error',
                title: 'Kullanıcı adınızı ve şifrenizi tekrar kontrol ediniz',
                showConfirmButton: false,
                timer: 1500,
            });

            setTimeout(() => { }, 2000)
        }
    }
    </script>   
}



